# Composer
/vendor/
/composer.lock
.php-cs-fixer.cache
/coverage/

# Testing Regime
/.phpunit.cache/
.phpunit.result.cache

# Environment
.env

# VSCode
.devcontainer
/.vscode/

# Former Docker Environment
docker-compose.yml
Dockerfile